<div class="container mt-3">
    <div class="row">
        <p class="h3 fw-bold tex-danger">
            Edit Contact
        </p>
        <p class="fst-italic">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, sunt in adipisci atque asperiores, quidem ad veritatis earum quod eligendi est amet illo dolorum rerum ab? Dolor, excepturi suscipit eveniet voluptatibus optio quos esse, autem quam eligendi ipsa aliquam laudantium!
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile ">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                   <select name="" id="" class="form-control">
                       <option value="">Select a Group</option>
                   </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Update">

                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="../../../assets/images/user-icon-contact.png" alt="" class="contact-img">
        </div>

    </div>
</div>
